.badge {
  background-color: tomato;

  /* span은 높이 넓이를 가질 수 없음. 블락으로 변경 */
  display: block;
  width: 20px;
  height: 20px;

  /* width의 절반이면 원으로 표현. border-radius */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
